
.main{
  display: flex;
}
   
.cardcontent{
  border: 5px solid black;
 
}
  


img{
  width:auto;
  height: auto;
  

}

.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 5px
  
}

.character-description{
  font-weight: normal;

}